<nav class="navbar navbar-expand-sm" style="background-color: #0494DC; ">
    <!-- Brand/logo -->
    <a class="navbar-brand" style="color: white;" href="#">FIISIBlog</a>
    
    <!-- Links -->
    <ul class="navbar-nav p-3 ml-auto" style="float:right ">
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="#">NOTICIAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="#">CURSOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="#">BOLSA DE TRABAJO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="#">NOSOTROS</a>
      </li>
      <li class="nav-item-button">
        <button class="py-1 px-4" >Iniciar sesión</button>
      </li>
    </ul>
  </nav>
  <div class="row">
      <div class="offset-1 col-10">
            <div class="titulo py-4">Acerca de nosotros</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum saepe iste quis dolores eveniet impedit laboriosam atque, nam in veritatis aliquam ipsum modi consectetur quo? Ut quos commodi placeat iure?
      </div>
  </div>
  <div class="row mision-vision py-5">
    <div class="offset-1 col-10 offset-md-2 col-md-4 pr-md-5">
        <div class="titulos-nosotros">
            Misión 
        </div>
        <br>
        <div class="contenido-nosotros">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas, consequuntur, omnis fuga neque atque ab dolores molestias excepturi et, error ipsum repudiandae unde adipisci id architecto ut corrupti repellendus.
        </div>
    </div>
    <div class="offset-1 col-10 col-md-4 pl-md-5">
        <div class="titulos-nosotros">
            Visión 
        </div>
        <br>
        <div class="contenido-nosotros">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptas, consequuntur, omnis fuga neque atque ab dolores molestias excepturi et, error ipsum repudiandae unde adipisci id architecto ut corrupti repellendus.
        </div>
    </div>
</div>
<div class="row">
    <div class="offset-1 col-10">
            <div class="row">
              <div class="col-12">
                <h6 class="titulo-usuarios-comentan">Nuestros usuarios comentan</h6>
              </div>
          </div>
          <div class="row">
            <div class="col-md-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi perferendis quam magni laboriosam alias facere exercitationem labore iste fugiat sunt.</div>
            <div class="col-md-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores corrupti sequi consectetur odio quo recusandae laudantium ducimus eveniet ea consequatur!</div>
            <div class="col-md-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque ipsum at enim animi accusamus, corrupti iure aperiam asperiores recusandae exercitationem?</div>
          
            <div class="col-md-3 py-3 px-3" style="background-color: #0494DC; border-radius: 7px;">
              <div style="background-color: white;">
                <div class="col-12" >asdadasdsa</div>
              <div class="col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod libero quae ea quos tempora dolore temporibus consequatur tempore repellendus maiores.</div>
              </div>
              
              <!-- <div class="col-12" style="background-color: white; border-radius: 7px;">
                <div class="row">
                  <div class="col-3">
                    FOTO
                  </div>
                  <div class="col-9">
                    Jheysson Urbano
                  </div>
                  <div class="col-12">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quia, provident aspernatur quidem aperiam voluptatem.
                  </div>
                </div>
              </div> -->
            </div>
          </div>
    </div>
</div>
<div class="row py-4">
  <div class="offset-md-1 col-md-10">
    <div class="frase">
      "El que aprende pero no piensa está perdido. El que piensa pero no aprende está en gran peligro" - Confucio asdfasdf
    </div>    
  </div>
</div>