nav ul li a{
    font-size: 13px;
    font-weight: bold;
}

button {
    border: 1px solid white;
    background-color: #0494DC;
    color: white;
    border-radius: 10px;
}

.nav-item-button {
    padding-left: 150px;
}

.titulo{
    text-align: center;
    font-size: 18px;
}

.mision-vision{
    background-color: #0494DC ;
    text-align: center;
    color: white;
}

.contenido-nosotros{
    text-align: left;
}

.titulos-nosotros{
    font-weight: bold;
}