<!-- STAR NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0494DC;">
    <a class="navbar-brand" href="#">FIISIBLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
      <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="noticias">NOTICIAS <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cursos">CURSOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bolsa-de-trabajo">BOLSA DE TRABAJO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="nosotros">NOSOTROS</a>
        </li>
        <li class="">
          <button class="py-1 px-4" style="
          background-color: #0494DC;
        color: white;
        border-radius: 10px;
        border: 1px solid white;
          ">Iniciar sesión</button>
        </li>
      </ul>
    </div>
  </nav>