<!--START FOOTER -->
<footer class="" style="background-color: #0494DC; color: white">
    <div class="container">
      <div class="row py-3">
        <div class="col-md-6 offset-1 offset-md-0">
          <div style="font-weight: bold; font-size: 18px">CONTACTO</div>
          <div style="font-weight: bold; font-size: 14px">Unicación</div>
          <div class="" style="font-size: 14px;">Av. Mercedes Indacochea N° 609</div>
          <br>
          <div style="font-weight: bold; font-size: 14px">Teléfono</div>
          <div style="font-size: 14px;">(+511) 232 2918)</div>
          <br>
          <div style="font-weight: bold; font-size: 14px">Correo electrónico</div>
          <div style="font-size: 14px;">rectorado@unjfsc.edu.pe</div>
        </div>
        <div class="col-md-6 mt-3 mt-md-0 offset-1 offset-md-0">
          <div style="font-weight: bold; font-size: 18px">REDES SOCIALES</div>
          Feibuk - Tuiter. güatsap
        </div>
      </div>
    </div >
    <!-- Copyright -->
    <div style="background-color: #037BB8" class=" text-center py-3">© 2020 UNJFSC |
      <a> Todos los derechos reservados </a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- END FOOTER -->